<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ "assets/css/main.css" | relative_url }}>
</head>
<body>
    <div class="logo">
        <a href="/" style="all: unset;">whybitcoin.xyz</a>
    </div>
    <div class="text">
        <hr>
            <a class="unset" href="/">bitcoin</a> |
            <a class="unset" href="/lightning">lightning</a> | 
            <a class="unset" href="/nostr">nostr</a> |
            <a class="unset" href="/fav_papers">favorite papers</a> |
            <a class="unset" href="http://runanode.xyz" target="_blank">runanode.xyz</a> |
            <a class="unset" href="https://twitter.com/chad_pleb" target="_blank">@chad_pleb</a> 
        <hr>
    
        {{ content }}
    </div>
    
    <br />
    <br />
    <hr>
    
</body>
</html>